:root {
  /*  overflow-y: hidden; /* Hide vertical scrollbar 
  overflow-x: hidden; /* Hide horizontal scrollbar 
  /* background-image: url("./images/fullmoon.png");
  background-size: cover; */
  /* animation: chbg 30s infinite; */
  /*  background-image: url("./images/fullmoon.png");
  background-size: cover;
  background-repeat: no-repeat; */
  /* margin: 0%;
  padding: 0%; */
}
body {
  margin: 0%;
  padding: 0%;
}

/* @keyframes chbg {
  0% {
    background-image: url("./images/fullmoon.png");
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
    width: 100vw;
    margin: 0%;
    padding: 0%;
  }
  33% {
    background-image: url("./images/suzesvlovre.png");
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
    width: 100vw;
    margin: 0%;
    padding: 0%;
  }
  66% {
    background-image: url("./images/nebula.png");
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
    width: 100vw;
    margin: 0%;
    padding: 0%;
  }
  100% {
    background-image: url("./images/fullmoon.png");
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
    width: 100vw;
    margin: 0%;
    padding: 0%;
  }
} */
/* body {
    background:url(http://lorempixel.com/400/400/people/1);
    animation: chbg 15s infinite alternate;
    background-size:cover
  } */
